<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- header -->
<div ngClass="header" role="banner">
  <div ngClass="headericon"><i ngClass="fa fa-trash"></i></div>
  <h2><a style="color:orange" routerLink="/login">Digital Garbage Collection</a></h2>
    <div ngClass="spacer"></div>
    
    <nav id="topnav" ngClass="nav nav-bar pull-right">
      <ul ngClass="nav-link">
        <li ngClass="list-item"><a routerLink="/dashboard"><i ngClass="fa fa-desktop"></i> Dashboard</a></li>
        <li ngClass="list-item"><a routerLink="/drivercreate"><i ngClass="fa fa-truck"></i> Driver</a></li>
        <li ngClass="list-item"><a routerLink="/bincreate"><i ngClass="fa fa-trash"></i> Bin</a></li>
        <li ngClass="list-item"><a routerLink="/requestcreate"><i ngClass="fa fa-file"></i> Request</a></li>
        <li ngClass="list-item"><a routerLink="/login"><i ngClass="fa fa-key"></i> Login</a></li>
      </ul>
    </nav>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>


<!-- Footer -->
<footer>
  <h6><i class="fa fa-copyright"></i> Copyright 2022 - Digital Garbage Collection - Smart City</h6>
</footer>