
<div class="container">
    <div class="content" role="main">
        <div class="panel">
            <div class="panel-title text-center"><i class="fa fa-trash mr-5"></i> CREATE DRIVER</div>
            <div class="panel-body">
                  <form name="login" method="post">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label for="usn">Name:</label>
                            <input type="text" name="name" 
                            class="form-control">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label for="age">Age:</label>
                            <input type="text" name="age" 
                            class="form-control">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label for="phone">Phone:</label>
                            <input type="text" name="phone" 
                            class="form-control">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label for="email">Email:</label>
                            <input type="text" name="email" 
                            class="form-control">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="area">Area:</label>
                                <select name="area" class="form-control">
                                <option selected>Select Area</option>
                                <option value="ranip">Ranip</option>
                                <option value="ghatlodia">Ghatlodia</option>
                                <option value="navrangpura">Navrangpura</option>
                                <option value="naranpura">Naranpura</option>
                                <option value="memnanagar">Memnanagar</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="city">City:</label>
                                <select name="city" class="form-control">
                                    <option selected>Select City</option>
                                    <option value="ahmedabad" selected>Ahmedabad</option>
                                    <option value="baroda" disabled>Baroda</option>
                                    <option value="bhavnagar" disabled>Bhavnagar</option>
                                    <option value="rajkot" disabled>Rajkot</option>
                                    <option value="surat" disabled>Surat</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="zone">Zone:</label>
                                <select name="zone" class="form-control">
                                <option selected>Select Zone</option>
                                <option value="northzone">North Zone</option>
                                <option value="southzone">South Zone</option>
                                <option value="westzone">West Zone</option>
                                <option value="eastzone">East Zone</option>
                                <option value="centralzone">Central Zone</option>
                                </select>
                            </div>
                        </div>
                    </div>
                      <div class="row">
                          <div class="text-center">
                              <input type="submit" name="createdriver" value="Create" class="btn btn-primary">
                          </div>
                      </div>
                  </form>
            </div>
        </div>
      </div>
    </div>