<div class="container nopadding">
    <div class="content" role="main">
        <div class="text-center">
            <h2 class="pagetitle"><i class="mr-5"></i> Dashboard</h2>
        </div>
        <div class="spacer20"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center panelborderinside">
                    <div class="text-center"><i style="border-radius: 100%; padding:15px 20px; height: 70px; width: 70px; background-color: orange; font-size: 36px;" class="fa fa-trash mr-3"></i></div><h3>Bin</h3>
                    <div class="spacer20"></div>
                    <a routerLink="/bincreate" class="btn btn-primary">Create Bin</a>
                    <a routerLink="/adminbin" class="btn btn-primary">Admin Panel</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center panelborderinside">
                    <div class="text-center"><i style="border-radius: 100%; padding:15px 10px; height: 70px; width: 70px; background-color: orange; font-size: 36px;" class="fa fa-truck mr-5"></i></div><h3>Driver</h3>
                    <div class="spacer20"></div>
                        <a routerLink="/drivercreate" class="btn btn-primary">Create Driver</a>
                        <a routerLink="/admindriver" class="btn btn-primary">Admin Panel</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center panelborderinside">
                    <div class="text-center"><i style="border-radius: 100%; padding:20px 10px; height: 70px; width: 70px; background-color: orange; font-size: 30px;" class="fa fa-file mr-5"></i></div><h3>Request</h3>
                    <div class="spacer20"></div>
                        <a routerLink="/requestcreate" class="btn btn-primary">Create Request</a>
                        <a routerLink="/adminrequest" class="btn btn-primary">Admin Panel</a>
                </div>
            </div>
        </div>
    </div>
</div>
